.section{
  height: 400px;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.heading{
  font-weight: bold;
  color: rgb(28, 238, 0);
  font-size: 40px;
}
.parapgraph{
  font-size: 25px;
  color: blue;
}
p{
  font-size: 22px;
 }
.button{
  border-radius: 6px;
  height: 70px;
  width: 300px;
  color: white;
  background-color: green;
  border: none;
}
.image{
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
@media screen and (max-width:900px){
  .section{
    height: 400px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .heading{
    font-weight: bold;
    color: rgb(128, 0, 122);
    font-size: 30px;
  }
  .parapgraph{
    font-size: 12px;
    color: rgb(0, 128, 64);
    font-size: 20px;
  }
  .button{
    background-color: black;
    color: white;
    border-radius: 6px;
    height: 60px;
    width: 150px;
    border: none;
  }
  p{
    font-size: 15px;
   }
  .image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
}

/* @media screen and (max-width:600px){
  .section{
    height: 400px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .heading{
    font-weight: bold;
    color: red;
    font-size: 20px;
  }
  .parapgraph{
    font-size: 12px;
    color: rgb(255, 123, 0);
    font-size: 15px;
  }
  p{
    font-size: 10px;
   }
  .button{  
    background-color: rgb(8, 66, 255);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    height: 40px;
    width: 120px;
    border: none;
  }
  .image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
} */